<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div th:switch="${companies}">
    <h2 th:case="null">No Companies</h2>
    <div th:case="*">
        <h2>Companies</h2>
        <table>
            <thead>
            <tr>
                <th>Company Name</th>
                <th>Owner Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="company : ${companies}">
                <td th:text="${company.companyName}"></td>
                <td th:text="${company.owner}"></td>
                <td><a th:href="@{/company_delete/{companyName}(companyName=${company.companyName})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/">Home</a></p>
    <p><a href="/company_add">Add new company</a></p>

</div>

</body>
</html>